{% extends "main.html" %}

{% load  static %}

{% block content %}

<form method= "Post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
        <div class="col-10"> 
            {% for field in form %}
            {{field.label}}
            <br>
            {{form.media}}
            {{field}}
            <br>
            {% endfor %}
            <br>

        {% if update == 1 %}      
        <button type="submit" class="btn btn-outline-primary">Actualizar</button>
        {% else %}
        <button type="submit" class="btn btn-outline-primary">Crear</button>
        {% endif %}

    </div>
</form> 
{% endblock content %}